extends layout

block content
  h1.mt-4.text-center Express Rest Api Admin Panel
  .row
    .col-lg-3.mx-auto
      .card
        .card-body
          a.btn.btn-theme.btn-block(href="/admin/users") Users
